body {
    background-color: #7fffd4;
    overflow: hidden;
}

#main {
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: max-content;
    border-collapse: collapse;
}


#main td {
    box-sizing: border-box;
    height: 0;
    padding: 0;
    border: 1px solid #000;
    box-sizing: border-box;
}

#main div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}